// styling all markdown in article.post

article.post {

    h1, h2, h3, h4, h5 {
        font-weight: 700;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.25rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.75rem;
    }
    h5 {
        font-size: 1.5rem;
    }
    p {
        font-weight: 300;
        font-size: 1.35rem;
        a.btn {
            font-size: 1.1rem;
        }
    }
    img {
        max-width: 100%;
        height: auto;
    }
}
